{% extends 'base.html' %}

{% block title %}Промокоды{% endblock %}

{% block content %}
  <h1>Список промокодов!</h1>
  <ul>
    {% for promocode in object_list %}
      <li>
          <strong>{{ promocode.code }}</strong> - <strong>{{ promocode.discount }}%</strong> - <strong>{{ promocode.expiration_date }}</strong>
          {% if user.is_superuser %}
          <a href="{% url 'delete_promocode' promocode.pk %}">Удалить</a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}