{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
  <h1>Список услуг!</h1>
  {% regroup object_list by category_name as category_list %}
  <ul>
    {% for category in category_list %}
      <li>
        <h2>{{ category.grouper }}</h2>
        <ul>
          {% for service in category.list %}
            <li>
              <strong>{{ service.title }}</strong> - <strong>{{ service.price }} $</strong>
              <p>{{ service.description }}</p>
              {% if user.is_superuser %}
              <a href="{% url 'update_service' service.pk %}">Изменить</a>
              <a href="{% url 'delete_service' service.pk %}">Удалить</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}