{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="body-content">
    <header id="site-header">
        <div id="header-content">
            <nav id="header-nav">
                <div>
                    <label for="page-select">Навигация:</label>
                    <select id="page-select" onchange="handleNavigation(this)">
                        <option value="">Выберите...</option>
                        <option value="{% url 'home' %}">Главная</option>
                        <option value="{% url 'services' %}">Услуги</option>
                        <option value="{% url 'add_service' %}">Добавить услугу</option>
                    </select>
                </div>
            </nav>
        </div>
    </header>

    <main id="main-content">
        {% block content %} {% endblock %}
    </main>

    <script src="{% static 'main/js/page_selection.js' %}"></script>
</body>
</html>
